<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <title>Email</title>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      td { padding: 20px 30px; } .main-conatiner { margin-left: auto;
      margin-right: auto; width: 470px; max-width: 470px; padding: 1.25rem;
      border-collapse: collapse; text-align: left; } .para-text { font-style:
      normal; font-weight: 400; font-size: 12px; line-height: 130%; color:
      #404040; text-align: justify; } .banner { font-style: normal; font-weight:
      400; font-size: 10px; line-height: 13px; color: #616161; background:
      #f5f8f9; border-left: 2px solid #1c9cf6; padding: 4px 10px; } .table-data
      { font-family: "Tahoma"; font-style: normal; font-weight: 400; font-size:
      10px; line-height: 132.5%; color: #262626; } .table-row { padding: 10px
      10px; } .table-row-top { padding: 10px 5px; }

    </style>

    <style type="text/css">
      .mj-outlook-group-fix { width: 100% !important; }
    </style>
    <!---->
  </head>

  <body
    style="
      padding: 10px;
      letter-spacing: 0.04em;
      font-family: Tahoma, Arial, sans-serif;
    "
  >
    <div
      class="main-conatiner"
      style="
        width: 470px;
      "
    >
      <table style="margin: auto;">
        <tr style="padding-bottom: 60px">
          <td>
            <img
              src="{{logo}}"
              alt="company logo"
              {{! height="78px"
              width="200px" }}
              style="height: 60px; width: 180px"
            />
          </td>
        </tr>
        <tr>
          <td style="para-text">
            <p style="border-left: 2px solid #ffcd00; padding-left: 10px">Dear
              user</p>
            <p style="padding-left: 10px">
              We received a request to reset your password for Insight 360 -
              Feedback for Leaders Application. To complete the process, please
              enter the One-Time Password (OTP) provided below:
            </p>
            <p style="padding-left: 10px">Your OTP is: <b>{{otp}}</b></p>
            <p style="padding-left: 10px">
              Please enter this code on the password reset page to verify your
              identity and create a new password.
            </p>
            <p style="padding-left: 10px">
              If you did not request a password reset, please disregard this
              email and contact our support team immediately.
            </p>
            <p style="padding-left: 10px">Thank you.</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            <p style="padding-left: 10px">
              Yours Sincerely
              <br />
              NBO Leadership
            </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>