<div class="break-inside-avoid-page w-full min-h-[1044px] h-fit mx-auto  p-5">
  <div class="relative h-full">
    {{> dual-gap/cornerFrames }}
    <div class="bg-primary-light text-primary font-urbanist font-semibold p-2 text-base uppercase">
      TABLE OF CURRENT VS EXPECTED FREQUENCY BY RATER GROUP
    </div>
	 <div class="items-center border p-3 w-full break-inside-avoid-page my-4">
         <div class="flex justify-between gap-12">
            <div class="flex justify-start items-center w-auto">
              <div class="mr-2 w-9 h-4 bg-[#F52F57]"></div>
              <div class="font-urbanist text-sm">Always Never</div>
            </div>
            <div class="flex justify-start items-center w-auto">
              <div class="mr-2 w-9 h-4 bg-[#FCAE1E]"></div>
              <div class="font-urbanist text-sm">Sometimes</div>
            </div>
            <div class="flex justify-start items-center w-auto">
              <div class="mr-2 w-9 h-4 bg-[#525252]"></div>
              <div class="font-urbanist text-sm">Generally</div>
            </div>
            <div class="flex justify-start items-center w-auto">
              <div class="mr-2 w-9 h-4 bg-[#1FA187]"></div>
              <div class="font-urbanist text-sm">Almost Always</div>
            </div>
            <div class="flex justify-start items-center w-auto">
              <div class="mr-2 w-9 h-4 bg-[#0069FF]"></div>
              <div class="font-urbanist text-sm">Always</div>
            </div>
            
          </div>
        </div>
    <div class="my-8  h-full">
      <table class="question-table">
        <thead class="bg-[#EDF4FD]">
          <tr id="categoryHeaders">
          </tr>
          <tr id="categorySubHeaders">
          </tr>
        </thead>
        <tbody id="questionsBody">
        </tbody>
      </table>
	  <div class="flex justify-end items-center">
		<div class="text-[#F52F57] text-xs mt-4 font-ubanist alig">* Responses based on Rating scale of 1-5</div>
	  </div>
    </div>
  </div>
</div>
<script>
	let raters = JSON.parse({{{raters}}})
	let questions = {{{questions}}}

	let headers = '<th rowspan="2" class="font-inter text-[#242424] text-xs p-2 font-normal text-left" style="font-size: 13px;" >How often does this person demonstrate the following  -</th>'
	let subHeaders = ''
	for(const rater of raters){
		headers +=`<th colspan="2" class="font-inter w-[100px] text-[#242424] text-xs p-2 font-normal">${rater}</th>`
		subHeaders += '<th class="font-inter text-[#242424] text-xs p-2 font-normal">Curr</th><th class="text-[#242424] text-xs p-2 font-normal">Exp</th>'
	}
	document.getElementById("categoryHeaders").innerHTML = headers
	document.getElementById("categorySubHeaders").innerHTML = subHeaders

	let questionsBody = ''
	for(const [index,question] of questions.entries()){
		let questionRow =`
			<tr class="even:bg-neutral-50">
				<td class="text-neutral-700 text-xs px-3 py-5 border-r border-[#E1E2E2] font-inter" style="font-size: 13px;" >Q${index+1}. ${question.text}</td>`
			for(const rater of raters){
				questionRow += `<td class="p-2 text-xs border-r border-[#E1E2E2] last:border-r-0"><p class="font-inter chip-${Math.floor(question[rater]?.current)}" style=" text-align:center;">${question[rater]?.current.toFixed(1) ? question[rater]?.current.toFixed(1) : "-"}</p></td><td class="p-2 text-xs border-r border-[#E1E2E2] last:border-r-0"><p class="font-inter chip-${Math.floor(question[rater]?.expected)} " style=" text-align:center;">${question[rater]?.expected.toFixed(1) ? question[rater]?.expected.toFixed(1) : "-"}</p></td>`
			}
		questionsBody += `${questionRow}</tr>`
	}

	document.getElementById("questionsBody").innerHTML = questionsBody
</script>





