<diV
  style="
            margin-left:100px;
            position:relative;
            width:234px;
            height:34px
            "
>
  <div
    style="border:0.626113px solid rgba(36, 36, 36, 0.66);
                  height:34px;
                  width:234px;
                  position:relative"
  >
    <div
      id="composite"
      style="position:absolute;width:4px;height:100%;background:#FF9999;"
    ></div>
  </div>
  <div
    style="position:absolute;left:0%;top:34px; width:1px;height:38%;background:rgba(36, 36, 36, 0.66)"
  ></div>
  <div
    style="position:absolute;left:26.5%;;top:34px; width:1px;height:38%;background:rgba(36, 36, 36, 0.66)"
  ></div>
  <div
    style="position:absolute;left:51.5%;;top:34px; width:1px;height:38%;background:rgba(36, 36, 36, 0.66)"
  ></div>
  <div
    style="position:absolute;left:76.5%;;top:34px; width:1px;height:38%;background:rgba(36, 36, 36, 0.66)"
  ></div>
  <div
    style="position:absolute;left:233px;top:34px; width:1px;height:38%;background:rgba(36, 36, 36, 0.66)"
  ></div>
  <div
    style="position:relative;
              margin-top:13px
              "
  >
    <span
      style="position:absolute;font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;left:-0.9%"
    >0</span>
    <span
      style="position:absolute;font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;left:25%"
    >1</span>
    <span
      style="position:absolute;font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;left:50%"
    >2</span>
    <span
      style="position:absolute;font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;left:75%"
    >3</span>
    <span
      style="position:absolute;font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;left:99%"
    >4</span>
  </div>
</diV>
<script>
  const leftValue=
  {{calculate competency.avg_gap}}

  document.getElementById("composite").style = {left:${leftValue}}

</script>