<style>
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>
<main>
	{{>dual-gap/sectionDivider introPageData}}
	{{>dual-gap/composit/strengthAndDevNeeds strengthsAndDevNeedsData}}
	{{>dual-gap/composit/competencyInSurveySequence competencyData}}
	{{>dual-gap/composit/allCompetencyInAsc competencyData}}
	{{>dual-gap/composit/individualPracticesReport questionLevelReport}}
	{{>dual-gap/composit/avgGapGrpByCompetency competencyData}}
	{{>dual-gap/composit/avgByRoleGroup competencyData}}
</main> 
	