<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>
<main>
		{{>dual-gap/sectionDivider competencyDeviderData}}
		{{>dual-gap/topFiveCompetencies topFiveData}}
		{{>dual-gap/allCompetencyInAsc competencyData}}
		{{>dual-gap/individualPracticesReport questionsData }}
		{{>dual-gap/competencyCommentsReport competencyData }}
		{{>dual-gap/strengthAndDevNeedsByRaters topFiveData}} 
		{{>dual-gap/avgGapGrpByCompetency competencyData}}
		{{>dual-gap/blindSpotsAndUnderestimatedCompetencies questionsData}}
		{{>dual-gap/avgByRoleGroup competencyData}}
		{{>dual-gap/top10CurrentAndExpectedQuestions questionsData}} 
		{{>dual-gap/questionTable questionsData}}
</main>